<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Server Programming</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
        <table class="table table-striped">
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price</th>
                <th>Category</th>
                <th colspan="2">Manage Book</th>
            </tr>
                <tr th:each = "book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.pubYear}"></td>
                <td th:text="${book.price} + '$'" ></td>
                <td th:text="${book.category.name}"></td>
                <th>  
                    <span><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></span>
                </th>
                <th>
                    <span><a th:href="@{/edit/{id}(id=${book.id})}">Edit Book</a></span>
                </th>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Add Book</a>
    </body>
</html>